
@font-face {
    font-family: 'Inkfree';
    src: url('Inkfree.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    /* font-family: 'DM Sans', sans-serif; */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roll {
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid white;
    z-index: 10;
    width: 100%;
    background-color: #2b3a7b;
}
.header {  
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* .header:hover {
    background-color: rgba(184, 27, 27, 0.7);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
} */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    z-index: 1;
}

.nav-logo {
    font-size: 3rem;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.3);
    
}

.nav-logo-img{
    height: 40px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}


.nav-link {
    font-size: 2rem;
    font-weight: 400;
    color: white;
    transition: color 0.3s;
}

.nav-link:hover{
    color:#d3d3d3;
}
.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #d3d3d3;
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: #d3d3d3;
}
.hamburger {
    display: none;
    cursor: pointer;
    z-index: 10000;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 800px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 9999;
        
    }

    .nav-menu.active {
        background-color: #2b3a7b;
        left: 0;
    }

    .nav-logo-img{
        height: 25px;
    }

    .nav-item {
        margin: 2.5rem 0;
        
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.social-links a {
    font-size: 2.5rem;
    color: #2b3a7b;
    transition: color 0.3s, transform 0.3s;
     border-radius: 100%; 
}

.social-links a:hover {
    color: #0077b5;
    transform: scale(1.1);
}

.social-links a:first-child:hover {
    color: #0077b5;
    ;
}

@media screen and (max-width: 768px) {
    .social-links a {
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .social-links a {
        font-size: 1.8rem;
    }
}

.title {
    font-size: 5rem;
    text-align: center;
    color: #2b3a7b;
    text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, 0.5px 0.5px 0 white;
    text-decoration: underline;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: whitefff;
    /* background-image: url('./images/intro-bg.png');
    background-repeat: no-repeat;
    background-size: cover;  */
    background-image: url("wave.svg");
    /* background: linear-gradient(to bottom, white, #2b3a7b), url('wave.svg'); */
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding-top: 50px;
}


.content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    overflow: auto;
}

.left {
    width: 55%;
    height: 100%;
    padding: 5vw 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left h1 {
    font-size: 4vw;
    line-height: 4.4vw;
    color: #000000;
}
.left h2 {
    font-size: 3vw;
    line-height: 4.4vw;
    color: white;
}


.left p {
    font-size: 2vw;
    font-weight: 600;
    color: white;
    width: 80%;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

/* .left p span {
    color: #607bf3;
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
} */

.animated-text{
    color: #2b3a7b;
    font-family: 'Inkfree', sans-serif;
    padding-left: 10px;
    text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, 0.5px 0.5px 0 white;

}
@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.animated-text {
    animation: fade 4s infinite;
}

.content button {
    font-size: 1.2vw;
    padding: 1.3vw 2.3vw;
    background-color: #2b3a7b;
    color: white;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    font-weight: 700;
}

.content button:hover {
    font-size: 1.2vw;
    padding: 1.3vw 2.3vw;
    background-color: white;
    color: #2b3a7b;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    font-weight: 700;
    border: 2px solid #2b3a7b;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.right img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    border: 4px solid #2b3a7b;
}

@media (max-width: 800px) {
   
    .main {
        display: none;
    }

    .content {
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
    }

    .left {
        width: 100%;
        height: 45%;
        padding: 4vw 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* .left h1 {
        font-size: 9vw;
        line-height: 9vw;
        color: black;
    } */

    .left p {
        font-size: 4vw;
        width: 90%;
        margin-top: 5vw;
        margin-bottom: 6vw;
        color: white;
    }

    .content button {
        font-size: 3.5vw;
        padding: 3vw 6vw;
        border-radius: 3px;
    }

    .right {
        width: 50%;
        height: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
    }
}

.about {
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-content {
    width: 60%;
    animation: fadeIn 2s ease-out;
    padding-right: 10px;
    
}
.about-content p{
   font-size: medium;
}

.about h2 {
    font-size: 3em;
    text-align: center;
    margin: 30px 0;
    color: #2b3a7b;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
}

.about h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #2b3a7b;
    border: 2px solid black;
    margin: 10px auto 0;
    display:none;
}

.about p {
    font-size: 2rem;
    font-weight: 0;
    line-height: 1.8;
    padding: 10px;
    color:black;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideIn 2s ease-out;
}

.about-img img {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #2b3a7b;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}


@media (max-width: 800px) {
    .about-img img {
        content: url('./images/profile.jpg');
    }

    .about {
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-top: none;
        border-bottom: none;
        /* background-image: url('./images/intro-bg.png');  */
        /* background-repeat: no-repeat; */
        /* background-size: cover; */
        margin-top:30px;
        background: linear-gradient(to bottom, #2b3a7b, white);
    }

    .about-content {
        width: 80%;
        padding:none;
  
    }

    .about-img {
        margin: 5rem 0 2rem 0;
    }

    .about p {
        font-size: 1.6rem;
        font-weight: 0;
        line-height: 1.5;
        padding: 0px;
        color: black;
    }

    .about-img img {
        width: 60%;
        margin: 0;
        border-radius: 100%;
        border: 2px solid white;
    }

    .about-content button {
        margin-top: 2rem;
        font-size: 3rem;
        padding: 1.3vw 2.3vw;
        background-color: #2b3a7b;
        color: black;
        border: none;
        border-radius: 5px;
        font-weight: 700;
    }

   
    .about-heading{
        color:#2b3a7b;
        text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, 0.5px 0.5px 0 white;
    }
}

@media (min-width: 800px) {
    
    .about-content button {
        display: none;
    }

    .about {
        /* background: linear-gradient(to bottom, #6c7aa1 20%, white 100%); */
        background: linear-gradient(to bottom, #6c7aa1 20%, #6c7aa1 50%, white 100%);

        /* background-color: #2b3a7b; */
    }
    
    .not_for_full_screen {
        display: none;
    }
    
     .about-content span {
        color: black;
        font-weight: bold;
        border-radius: 5px; color: black;
        
    }

}

/* Chatbot Styles */

.chat {
    display: flex;
    justify-content: center;
}

.chat-container {
    width: 90%;
    max-width: 900px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f8f9ff;
    height: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #2b3a7b;
    min-height: 2rem;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.message {
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.message.user {
    align-self: flex-end;
    text-align: right;
    margin: 0 1rem;
}

.message.bit {
    align-self: flex-start;
    text-align: left;
}

.message .name {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.message .text {
    padding: 0.8rem;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 1.6rem;
    line-height: 1.6;
    word-wrap: break-word;
    white-space: pre-wrap;
}


.message.user .text {
    background-color: white;
}

.chat-input {
    display: flex;
    border-top: 1px solid white;
}

.chat-input input {
    flex: 1;
    padding: 1.5rem;
    border: none;
    outline: none;
    font-size: 1.6rem; 
}

.chat-input button {
    padding: 1.5rem 2rem;
    border: none;
    background-color: #2b3a7b;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: white;
    color: #2b3a7b;
    /* border-left:2px solid #2b3a7b;
    border-top:2px solid #2b3a7b; */
    border: 2px solid #2b3a7b;
    border-bottom-right-radius: 10px;

}

/* Responsive Typography */
@media (min-width: 800px) {
    .chat {
        padding: 5rem 0 5rem 0;
    }

    .chat-messages {
        font-size: 1.8rem;
    }

    .message .text {
        font-size: 1.8rem;
    }

    .chat-header {
        font-size: 2.4rem;
    }

    .chat-input input {
        font-size: 1.8rem;
    }

    .chat-input button {
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {
    .chat-container {
        width: 90%;
        height: 400px;
    }

    .chat-messages {
        padding: 0.5rem;
        font-size: 1.4rem;
    }

    .message .text {
        font-size: 1.4rem;
    }

    .chat-header {
        font-size: 1.8rem;
    }

    .chat-input input {
        font-size: 1.4rem;
    }

    .chat-input button {
        font-size: 1.4rem;
    }
}
/* projects */

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    
}

.card {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    min-height: 300px;
    
}
.plot{
    max-width: 900px;
}
.card h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #2b3a7b;
    text-align: left;
}

.card p {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: black;
    text-align: justify;
}

.card a {
    font-size: 1.5rem;
    color: #2b3a7b;
    font-weight: bold;
    text-decoration: none;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
}

.carousel-indicators .indicator {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicators .indicator.active {
    background-color: #333;
}



.section-title {
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
    color: #333;
    /* font-family: 'Inkfree', sans-serif; */
}

@media (max-width: 768px) {
    .section-title {
        font-size: 1.5em;
    }
}

.section-title {
    font-size: 3em;
    text-align: center;
    margin: 30px 0;
    color: #2b3a7b;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
}

.section-title::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #2b3a7b;
    margin: 10px auto 0;
}

.skills {
    padding: 50px 0;
    text-align: center;
   
    padding-top: 50px;
     background-image: url("Wave 150.svg");
     /* background: linear-gradient(to top, #2b3a7b, white); */
     /* background-size: cover; */
     background-repeat: no-repeat;
     background-position-y: bottom;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
}

.skill i {
    font-size: 40px;
    color: #2b3a7b;
}

.skill h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.skill p {
    font-size: 16px;
    color: #555;
}



section {
    padding: 60px 20px; 
}



.about {
    min-height: 80vh;

}





.footer {
    /* background-color: #2b3a7b; */
    background: linear-gradient(to bottom, #6c7aa1, #2b3a7b);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    /* color:#c3c7db */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
    position: absolute; left: 20px;
}

.footer p {
    margin: 10px 0;
    font-size: 14px;
    color:white;
}

.footer-social-links {
    display: flex;
    gap: 15px;
}

.footer-social-links a {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s;
}

.footer-social-links a:hover {
    color: #1da1f2; /* Change to your preferred hover color */
}


@media (max-width: 768px) {
    .main, .about, .chat, .projects, .skills {
        min-height: auto; 
        padding: 40px 10px; 
    }
    .footer {
        color: black;
        text-align: center;
        padding: 2rem 0;
        position: relative;
        bottom: 0;
        width: 100%;
        /* background-color: white; */
    }
    .skills {
        padding: 50px 0;
        text-align: center;
       
        padding-top: 50px;
        background-color: white;
        /* background-image: none; */
        min-height: 1000px;
    }
}


.chat-box-section1, .projects, .skills, .contact {
    padding: 60px 20px;
    border-top: 2px solid #2b3a7b; 

}


    .nav-logo {
        display: flex;
        align-items: center;
    }

    .nav-logo-img {
        height: 60px; 
        margin-right: 10px;
    }

    .nav-logo-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50px; 
    }

    .nav-logo-text span {
        font-size: 20px; 
        line-height: 1;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: none;
    }

    .nav-logo-text span {
        line-height: 1;
    }

    .contact {
        /* padding: 50px 20px; */
        text-align: center;
        padding-bottom:1.5rem;
        background-color: #2b3a7b;
    }


    .contact-container {
        max-width: 600px;
        margin: 0 auto;
    }

    .contact-container p {
        font-size: 1.5rem;
        margin: 10px 0;
        color: white;
    }

    .contact-container a {
        color: white;
        text-decoration: none;
    }

    .contact-container a:hover {
        text-decoration: underline;
    }
    .white-color{
        color:white;
    }
    .white-color::after {
        content: '';
        display: block;
        width: 50px;
        height: 3px;
        background-color: white;
        margin: 10px auto 0;
    }

   
    @media (min-width: 829px) {
        .skills{
            
            min-height: 00px;
        }
        
    } 
    @media (min-width: 558px) and (max-width: 830px){
        .skills{
          
            min-height: 850px;
        }
       
    }  
 
    @media (max-width: 558px){
        .skills{
          
            min-height: 1300px;
        }
       
    }  
    @media (max-width: 830px){
        .footer-logo img  {
            display:none;
        }
    
       
    }
